html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#adContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  opacity: 0;
}

#url {
  opacity: 0.7;
}

#button {
  border-radius: 50%;
}

#colorSlot2 {
  z-index: 2;
  overflow: hidden;
}

#colorSlot3 {
  z-index: 1;
}

[data-variation='square191'] #background,
[data-variation='towerA'] #background,
[data-variation='towerB'] #background {
  background-size: 100% auto;
  transform: scaleY(-1);
  background-repeat: no-repeat;
  background-position: bottom;
}

[data-variation='bannerA'] #background {
  background-size: auto 100%;
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-position: right;
}

[data-variation='bannerA'] #colorSlot3 {
  background-image: linear-gradient(to right, transparent, white 30%, white);
}

[data-variation='square191'] #colorSlot3 {
  background-image: linear-gradient(to bottom, transparent, white);
}

[data-variation='towerA'] #colorSlot3,
[data-variation='towerB'] #colorSlot3 {
  background-image: linear-gradient(to bottom, transparent, white 30%, white);
}

#text1,
#text2,
#button,
#logo {
  z-index: 3;
}

[data-variation='towerA'] #text1,
[data-variation='towerA'] #text2,
[data-variation='squareC'] #text1,
[data-variation='squareC'] #text2 {
  text-align: center;
}

#adContent[data-variation]:not([data-variation='']) {
  opacity: 1;
}

/* Small banner animations */
[data-variation='smallBanner'] #text1 {
  -webkit-animation: frames1 9s ease-in-out 2 both;
  animation: frames1 9s ease-in-out 2 both;
}

[data-variation='smallBanner'] #text2 {
  -webkit-animation: frames2 9s ease-in-out 2 both;
  animation: frames2 9s ease-in-out 2 both;
}

[data-variation='smallBanner'] #url {
  -webkit-animation: frames3 9s ease-in-out 2 both;
  animation: frames3 9s ease-in-out 2 both;
}

@-webkit-keyframes
frames1 {
   0%, 30% {opacity: 1; -webkit-transform: translateY(0);}
  35%, 95% {opacity: 0; -webkit-transform: translateY(-200%);}
      100% {opacity: 1; -webkit-transform: translateY(0);}
}

@keyframes
frames1 {
   0%, 30% {opacity: 1; transform: translateY(0);}
  35%, 95% {opacity: 0; transform: translateY(-200%);}
      100% {opacity: 1; transform: translateY(0);}
}

@-webkit-keyframes
frames2 {
   0%, 30% {opacity: 0; -webkit-transform: translateY(200%);}
  35%, 65% {opacity: 1; -webkit-transform: translateY(0);}
  70%, 100% {opacity: 0; -webkit-transform: translateY(-200%);}
}

@keyframes
frames2 {
   0%, 30% {opacity: 0; transform: translateY(200%);}
  35%, 65% {opacity: 1; transform: translateY(0);}
  70%, 100% {opacity: 0; transform: translateY(-200%);}
}

@-webkit-keyframes
frames3 {
   0%, 65% {opacity: 0; -webkit-transform: translateY(200%);}
  70%, 95% {opacity: 1; -webkit-transform: translateY(0);}
      100% {opacity: 0; -webkit-transform: translateY(200%);}
}

@keyframes
frames3 {
   0%, 65% {opacity: 0; transform: translateY(200%);}
  70%, 95% {opacity: 1; transform: translateY(0);}
      100% {opacity: 0; transform: translateY(200%);}
}
